.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 20px;
    font-size: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one,
.three,
.five,
.seven {
    background-color: grey;
}

button {
    margin: 10px;
}